@keyframes simpleFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rightInvade {
    from {
        transform: translateX(50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg) translateY(0);
    }

    50% {
        transform: rotateY(180deg) translateY(-5px);
    }

    100% {
        transform: rotateY(360deg) translateY(0);
    }
}

@keyframes lightningFlash {

    0%,
    10%,
    30%,
    55%,
    100% {
        text-shadow: 0 0 5px $color-secondary, 0 0 10px $color-secondary;
        stroke: $color-secondary;
    }

    5%,
    25%,
    35%,
    50% {
        text-shadow: 0 0 0 $color-secondary;
        stroke: rgba(45, 45, 45, 0.784);
    }
}

@keyframes lightningFlash-o {

    0%,
    60%,
    70%,
    80%,
    100% {
        text-shadow: 0 0 5px $color-primary, 0 0 10px $color-primary;
        stroke: $color-primary;
    }

    69.50%,
    79.50% {
        text-shadow: 0 0 0 $color-primary;
        stroke: rgba(45, 45, 45, 0.784);
    }
}

@keyframes flashing {
    0%, 50%{
        color: transparent;
    }
    51%,100% {
        color: $color-white;
    }
}