body {
    //font-family: 'Press Start 2P', sans-serif;
    font-family: 'Audiowide', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-black;
}

.typo-from {
    color: $color-white;
    font-size: 1.5rem;

    @include respond(tab-land) {
    }

    @include respond(tab-port) {
    }

    @include respond(phone) {
        font-size: 1.15rem;
    }

    &__header {
        font-weight: 400;
        font-family: 'Audiowide', sans-serif;
        font-size: 2rem;

        @include respond(tab-port) {
            font-size: 1.5rem;
        }
    }

    &__options {
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(tab-port) {
            font-size: 0.75rem;
        }
    }

    &__title {
        font-family: 'Audiowide', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        opacity: 1;
        text-shadow: 0 0 4px rgba($color-black, 1);
        //animation: simpleFadeIn 0.5s 0.75s forwards;

        @include respond(tab-port) {
            font-size: 1.75rem;
        }

        &__2 {
            padding-top: 0rem;
            font-size: 2rem;

            @include respond(tab-port) {
                font-size: 1.5rem;
            }
        }
    }

    &__subtitle {
        color: rgba($color-white, 0.5);
        font-weight: 600;
        opacity: 0;

        animation: rightInvade 0.5s 1.25s forwards;
    }

    &__social {
        color: rgba($color-white, 0.7);
        font-size: 1rem;
    }

    &__footer {
        color: rgba($color-white, 0.5);
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;

        @include respond(tab-land) {
        }

        @include respond(tab-port) {
        }

        @include respond(phone) {
            font-size: 1rem;
        }

        &__name {
            color: rgba($color-white, 1);
        }
    }

    &__level-1-title {
        margin-top: 0.5rem;
        padding: 0.75rem 2.5rem;
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
        box-shadow: 0 0 5px rgba($color-black, 0.75), 0 0 10px rgba($color-black, 0.75);
        animation: flashing .5s infinite alternate;
        background-color: $color-theme-2-dark;
        font-family: 'Press Start 2P', sans-serif;

        @include respond(tab-land) {}

        @include respond(tab-port) {}

        @include respond(phone) {
            text-align: center;
            padding: 0.25rem 1rem;
            font-size: 0.6rem;
            width: 15rem
        }

    }
}