body {
    font-family: 'Press Start 2P', sans-serif;
    //font-family: 'Audiowide', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-black;
}

.typo-from {
    color: $color-white;
    font-size: 1.5rem;

    &__header {
        font-weight: 400;

        &-title {
            animation: neonGlow 2s infinite alternate;
            color: $color-white;
        }
    }

    &__options {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__name {
        font-size: 3rem;
        text-shadow: 0 0 20px rgba(#FACF31, 1);
    }

    &__fullstack {
        color: $color-primary;
        font-size: 2.5rem;
        text-shadow: 0 0 20px rgba($color-primary, 1);
    }

    &__student {
        color: $color-secondary;
        font-size: 2.5rem;
        text-shadow: 0 0 20px rgba($color-secondary, 1);
        text-align: end;
    }

    &__title {
        //font-family: 'Neonderthaw', cursive;
        //font-size: 7rem;
        font-weight: 700;
        text-align: center;
        opacity: 1;
        text-shadow: 0 0 20px rgba($color-primary, 1);
        //animation: simpleFadeIn 0.5s 0.75s forwards;


        &__glowing {
            animation: textPulse 1.5s infinite alternate;
        }

        &__2 {
            padding-top: 0rem;
            font-size: 2rem;

            &__pop-up {
                line-height: 1;
                letter-spacing: 0.2rem;
                font-family: 'Tilt Neon', sans-serif;
            }
        }
    }

    &__subtitle {
        color: rgba($color-white, 0.5);
        font-weight: 600;
        opacity: 0;

        animation: rightInvade 0.5s 1.25s forwards;
    }

    &__sided {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 20%;
    }

    &__social {
        color: rgba($color-white, 0.7);
        font-size: 1rem;
    }

    &__box {
        margin-top: 1rem;
        text-align: center;
        color: rgba($color-black, 0.7);
        font-family: 'Tilt Neon', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__footer {
        color: rgba($color-white, 0.5);
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;

        &__name {
            color: rgba($color-white, 1);
        }
    }

    &__modal {
        font-size: 1.5rem;
        line-height: 3.5rem;
    }

    &__level-1-title {
        margin-top: 0.5rem;
        background-color: #291c54;
        padding: 0.75rem 2.5rem;
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
        box-shadow:0 0 5px rgba($color-black, 0.75) , 0 0 10px rgba($color-black, 0.75);
        animation: flashing .5s infinite alternate;
    }
}

@keyframes flashing {
    0%, 50%{
        color: transparent;
    }
    51%,100% {
        color: $color-white;
    }
}