body {
    font-family: 'Tilt Neon', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-black;
}

.typo-from {
    color: $color-primary;
    font-size: 2rem;

    &__header {
        font-weight: 400;
        &-title {
            animation: neonGlow 2s infinite alternate;
            color: $color-white;
        }
    }

    &__options {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        //font-family: 'Neonderthaw', cursive;
        font-size: 7rem;
        font-weight: 400;
        text-align: center;
        padding-top: 10rem;
        opacity: 1;
        text-shadow: 0 0 20px rgba($color-primary, 1);
        //animation: simpleFadeIn 0.5s 0.75s forwards;
        

        &__glowing {
            animation: textPulse 1.5s infinite alternate;
        }

        &__2 {
            padding-top: 0rem;
            font-size: 4rem;

            &__pop-up {
                line-height: 1;
                letter-spacing: 0.2rem;
                font-family: 'Tilt Neon', sans-serif;
            }
        }
    }

    &__subtitle {
        color: rgba($color-white, 0.5);
        font-weight: 600;
        text-align: center;
        opacity: 0;

        animation: rightInvade 0.5s 1.25s forwards;
    }

    &__sided {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 15%;
    }

    &__social {
        color: rgba($color-white, 0.7);
        font-size: 1.5rem;
    }

    &__box {
        margin-top: 1rem;
        text-align: center;
        color: rgba($color-black, 0.7);
        font-family: 'Tilt Neon', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__footer {
        color: rgba($color-white, 0.5);
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;

        &__name {
            color: rgba($color-white, 1);
        }
    }

    &__modal {
        font-size: 1.5rem;
        line-height: 3.5rem;
    }
}