.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    &__non-gap {
        gap: 0;
        justify-content: flex-start !important;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    &__absolute {
        position: absolute;
        top: -50px;
        left: 30px;
    }
}

.spaced {
    gap:10rem;
    &__more {
        gap:20rem;
    }
    &__less {
        gap:3rem;
    }
}

.padding {
    padding: 0.5rem 0.5rem;
    &__extra {
        padding: 2.5rem 5rem;
    }
}

.vertical_gap:not(:last-child) {
    margin-bottom: 5rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.relative {
    position: relative;
}

.color {
    &__blue {
        color: #463191
    }
    &__pink {
        color: #E72696
    }
    &__yellow {
        color: #FACF31
    }
    &__orange {
        color: #F99B1D
    }
    &__greencyan {
        color: #5EDBA5
    }
}

.line-height {
    &__small {
        line-height: 0.9;
    }
}

.text-start {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.text-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid blue;;
}
