.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    &__non-gap {
        gap: 0;
        justify-content: flex-start !important;
    }
}

.spaced {
    gap: 10rem;

    &__more {
        gap: 20rem;
    }

    &__less {
        gap: 3rem;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {}

    @include respond(tab-port) {}

    @include respond(phone) {
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }
}

.relative {
    position: relative;
}

.color {
    &__blue {
        color: #463191
    }

    &__pink {
        color: #E72696
    }

    &__yellow {
        color: #FACF31
    }

    &__orange {
        color: #F99B1D
    }

    &__greencyan {
        color: #5EDBA5
    }
}

.color {
    &__primary {
        color: $color-primary;
    }
    &__secondary {
        color: $color-secondary;
    }
}

.flex {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-line {
    position: absolute;
    width: 40%;
    border: 0.15rem solid rgba(255, 255, 255, 0.7);
    border-radius: 4rem;
    right: 0;
    top: 50%;
    margin-right: 1rem;

    @include respond(tab-land) {}

        @include respond(tab-port) {}

        @include respond(phone) {
            width: 20%;
        }
}

.void {
    width: 3.5rem;

    @include respond(tab-land) {}

    @include respond(tab-port) {}

    @include respond(phone) {
        width: 0rem;
    }
}