.section {
    width: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    &__tools {
        margin-top: 10rem;
        width: 80%;
    }

    &__captures {

        margin-top: 10rem;
        width: 80%;
    }

    &__flexing {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }


    &__1 {
        background-image: linear-gradient(100deg,
                rgba($color-theme-1, 0.5) 40%,
                rgba($color-theme-2, 0.5) 60%);
    }

    &__2 {
        background-image: linear-gradient(100deg,
                rgba($color-theme-1, 1) 30%,
                rgba($color-theme-2, 1) 70%);

        padding: 5rem 10rem;
        position: relative;
        overflow: auto;
    }

    &__box1 {
        display: flex;
        padding: 10rem 15rem;
        height: 100vh;
        position: relative;
        flex-direction: column;
        width: 100%;

        &__svg {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__button {
            display: flex;
            align-self: flex-start;

        }
    }

    &__box2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        gap: 10rem;
        margin-top: 7.5rem;
    }
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    background-color: transparent;

    &__x {
        top: 0;
        left: 0;
    }

    &__y {
        top: 0;
        right: 0;
    }
}

.fixed {
    position: absolute;
    padding: 2.5rem 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0 0 2px $color-black;

    &__x {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    &__y {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 2.5rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        rotate: 90deg;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;

        &:hover .svg-email,
        &:hover .email-text {
            color: $color-secondary;
            fill: $color-secondary;
            filter: drop-shadow(0 0 4px $color-secondary);
            transform: translateX(-3px);
        }
    }
}


.email-text {
    transition: all 0.2s cubic-bezier(.76, .26, .76, .26);
    font-family: 'Audiowide', sans-serif;
    font-size: 1.5rem;
}