.section {
    width: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    &__tools {
        margin-top: 10rem;
        width: 80%;

        @include respond(tab-land) {}

        @include respond(tab-port) {}

        @include respond(phone) {
            margin-top: 5rem;
            width: 95%;
        }
    }

    &__captures {
        margin-top: 10rem;
        width: 80%;

        @include respond(tab-land) {}

        @include respond(tab-port) {}

        @include respond(phone) {
            margin-top: 5rem;
            width: 95%;
        }

    }

    &__flexing {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        margin-top: 4rem;
        box-shadow: 0 0 5px rgba($color-black, 0.5);
        padding: 5rem 5rem;
        border-radius: 2rem;
        background-color: rgba($color-black, 0.2);

        @include respond(tab-land) {}

        @include respond(tab-port) {}

        @include respond(phone) {
            flex-direction: column-reverse;
            padding: 2.5rem 2rem;
            gap: 1rem;
        }
    }


    &__1 {
        background-image: linear-gradient(100deg,
                rgba($color-theme-1, 0.5) 40%,
                rgba($color-theme-2, 0.5) 60%);
        height: 100vh;
    }

    &__2 {
        background-image: linear-gradient(100deg,
                rgba($color-theme-1, 1) 30%,
                rgba($color-theme-2, 1) 70%);

        padding: 5rem 10rem;
        position: relative;
        overflow: auto;

        @include respond(tab-land) {}

        @include respond(tab-port) {}

        @include respond(phone) {
            padding: 4rem 2rem;
        }
    }

    &__box1 {
        display: flex;
        padding: 15rem 15rem;
        //height: 100vh;
        position: relative;
        flex-direction: column;
        width: 100%;
        margin-top: 5rem;

        @include respond(tab-land) {
            padding: 12rem 10rem;
        }

        @include respond(tab-port) {
            padding: 8rem 7.5rem;
        }

        @include respond(phone) {
            padding: 8rem 1rem;
        }

        &__svg {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin-bottom: 10rem;
            height: 80%;

            @include respond(tab-land) {
                margin-bottom: 9rem;
            }

            @include respond(tab-port) {
                margin-bottom: 7.5rem;
            }

            @include respond(phone) {
                margin-bottom: 5rem;
            }

        }

        &__button {
            display: flex;
            align-self: flex-start;

            @include respond(tab-port) {
                align-self: center;
            }
        }
    }

    &__box2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        gap: 10rem;
        margin-top: 7.5rem;

        @include respond(tab-land) {}

        @include respond(tab-port) {}

        @include respond(phone) {
            width: 100%;
            justify-content: center;
            align-items: center;
        }

    }
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(0);
    width: 100%;
    height: 100%;
    opacity: 0.2;
    //background: url(./../../../public/images/slow.gif);
    background-size: cover;
}

#video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(0);
}

.experience-slider {
    display: flex;
    width: 80%;
    height: 100%;

    @include respond(tab-land) {
    }

    @include respond(tab-port) {
    }

    @include respond(phone) {
        width: 90%;
    }

    .experience-slide {
        color: white;
        //text-align: center;
        margin: 0 auto;
        padding: 1rem
    }
}

.exp {
    background-color: rgba($color-black, 0.2);
    border-radius: 2rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 5rem 2rem;
}

.custom-dots ul li button {
    background-color: white;
    color: aliceblue;
    border: 2px solid #333;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.slick-dots li button:before {
    color: white !important
}

;

.slick-dots li.slick-active button:before {
    color: white !important;
}