.section {
    width: 100%;
    backdrop-filter: blur(15px);

    &__1 {
        background-image: linear-gradient(100deg,
        rgba($color-theme-1, 0.5) 40%,
        rgba($color-theme-2, 0.5) 60%);
    }

    &__2 {
        background-image: linear-gradient(100deg,
                rgba($color-theme-1, 1) 30%,
                rgba($color-theme-2, 1) 70%);
    }

    &__box1 {
        margin: auto;
        padding: 3rem 15rem;
        height: 100%;
        position: relative;
    }

    &__box2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10rem;
        padding: 10rem 15rem 5rem 15rem;

    }
}