.outlined-text {
    font-size: 9rem;
    fill: transparent;
    stroke-width: 2px;
    font-family: 'Audiowide', sans-serif;
    letter-spacing: 5px;

    @include respond(tab-land) {
        font-size: 6rem;
    }

    @include respond(tab-port) {
        font-size: 5rem;
    }

    @include respond(phone) {
        font-size: 4rem;
    }

    @media (max-width:410px) {
        font-size: 3.5rem;
    }

    @media (max-width:360px) {
        font-size: 2.75rem;
    }


    &__full {
        stroke: $color-secondary;
        text-shadow: 0 0 5px $color-secondary, 0 0 10px $color-secondary;
    }

    &__dev {
        stroke: $color-primary;
        text-shadow: 0 0 5px $color-primary, 0 0 10px $color-primary;
    }
}

.animation-flash {
    -webkit-animation: lightningFlash 3s alternate infinite;
            animation: lightningFlash 3s alternate infinite;
}

.animation-flash-o {
    -webkit-animation: lightningFlash-o 3s linear infinite;
            animation: lightningFlash-o 3s linear infinite;
}