.button {
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    background-color: #C90000;
    outline: none;
    border: none;
    color: $color-white;
    font-family: inherit;
    cursor: pointer;
}