.header-option {
    margin: 0.75rem 1.25rem;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    color: $color-white;
    display: inline-block;
    position: relative;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-size: inherit;

    @include respond(tab-land) {
        font-size: 1.5rem;
    }

    @include respond(tab-port) {
        font-size:1.25rem ;
    }

    @include respond(phone) {
        display: none;
    }

    &:visited {
        color: $color-white;
    }

    &:hover {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
        will-change: transform;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 0.25rem;
        background-color: $color-white;
        border-radius: 2rem;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        -webkit-transition: width .3s cubic-bezier(.94, .29, 0, .63) .1s;
        -o-transition: width .3s cubic-bezier(.94, .29, 0, .63) .1s;
        transition: width .3s cubic-bezier(.94, .29, 0, .63) .1s;
    }

    &:hover::after {
        width: 100%;
    }

    &__hire-button {
        margin-left: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        padding: 2rem;
        outline: none;
        border: 0.2rem solid $color-secondary;
        border-radius: 5rem;
        background-color: transparent;
        color: $color-secondary;
        -webkit-box-shadow: inset 0 0 4px $color-secondary, 0 0 8px $color-secondary;
                box-shadow: inset 0 0 4px $color-secondary, 0 0 8px $color-secondary;
        text-shadow: 0 0 8px $color-secondary;
        font-family: 'Press Start 2P', sans-serif;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

        @include respond(tab-land) {
            padding: 1.5rem;
        }

        @include respond(tab-port) {
            padding: 1.5rem 1.25rem;
        }

        @include respond(phone) {
            font-size: 1rem;
            padding: 1.25rem 1rem;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            margin-left: 0rem;
        }

        &:hover {
            -webkit-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                    transform: translateY(-5px);
            -webkit-box-shadow: inset 0 0 8px $color-secondary, 0 0 8px $color-secondary;
                    box-shadow: inset 0 0 8px $color-secondary, 0 0 8px $color-secondary;
            text-shadow: 0 0 8px $color-secondary, 0 0 16px $color-secondary;

            &:hover .animation-rotate {
                -webkit-animation: rotate 3s infinite linear;
                        animation: rotate 3s infinite linear;
                text-shadow: 0 0 2px $color-secondary, 0 0 4px $color-secondary;
            }
        }
    }
}