.header-option {
    margin: 0.75rem 1.25rem;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    color: $color-white;
    display: inline-block;
    position: relative;
    transition: all .3s ease;

    &:visited {
        color: $color-white;
    }

    &:hover {
        transform: scale(1.1);
        will-change: transform;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 0.25rem;
        background-color: $color-white;
        border-radius: 2rem;
        transform: translateX(-50%);
        transition: width .3s cubic-bezier(.94, .29, 0, .63) .1s;
    }

    &:hover::after {
        width: 100%;
    }

    &__hire-button {
        padding: 0.75rem 1.25rem;
        outline: none;
        border: none;
        border-radius: 25px;
        margin-left: 3rem;
        background-color: $color-secondary;
        box-shadow: 0 0 20px rgba($color-secondary, 1);
        font-size: 2rem;
        font-family: inherit;
        margin: 0.75rem 1.25rem;
        cursor: pointer;
        width: fit-content;
        text-decoration: none;
        color: $color-white;
        display: inline-block;
        position: relative;
        transition: all .3s ease;

        &:hover {
            transform: translateY(-0.5rem) scale(1.025); 
        }
    }
}