@import 'typed';

.gifi {
  width: 100%;
  height: auto;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  border-radius: 0.5rem;
}

.level-1 {
  width: 75vw;
  height: 60rem;
  pointer-events: none;
  -webkit-box-shadow: 0 0 5px rgba($color-black, 0.75), 0 0 10px rgba($color-black, 0.75);
          box-shadow: 0 0 5px rgba($color-black, 0.75), 0 0 10px rgba($color-black, 0.75);
  border: 2rem solid;
  -o-border-image: -o-linear-gradient(bottom, $color-theme-1-dark, $color-theme-2-dark);
     border-image: -webkit-gradient(linear, left bottom, left top, from($color-theme-1-dark), to($color-theme-2-dark));
     border-image: linear-gradient(to top, $color-theme-1-dark, $color-theme-2-dark);
  border-image-slice: 1;

  @include respond(tab-land) {
    width: 80vw;
    height: 100%;
    padding: 0;
    border: 1rem solid;
    -o-border-image: -o-linear-gradient(bottom, $color-theme-1-dark, $color-theme-2-dark);
       border-image: -webkit-gradient(linear, left bottom, left top, from($color-theme-1-dark), to($color-theme-2-dark));
       border-image: linear-gradient(to top, $color-theme-1-dark, $color-theme-2-dark);
    border-image-slice: 1;
  }

  @include respond(tab-port) {
    width: 95vw;
    border: 1rem solid;
    -o-border-image: -o-linear-gradient(bottom, $color-theme-1-dark, $color-theme-2-dark);
       border-image: -webkit-gradient(linear, left bottom, left top, from($color-theme-1-dark), to($color-theme-2-dark));
       border-image: linear-gradient(to top, $color-theme-1-dark, $color-theme-2-dark);
    border-image-slice: 1;
  }

  @include respond(phone) {
    border: 1rem solid;
    -o-border-image: -o-linear-gradient(bottom, $color-theme-1-dark, $color-theme-2-dark);
       border-image: -webkit-gradient(linear, left bottom, left top, from($color-theme-1-dark), to($color-theme-2-dark));
       border-image: linear-gradient(to top, $color-theme-1-dark, $color-theme-2-dark);
    border-image-slice: 1;
  }

  &__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from($color-theme-1-dark), to($color-theme-2-dark));
    background-image: -o-linear-gradient(bottom, $color-theme-1-dark, $color-theme-2-dark);
    background-image: linear-gradient(to top, $color-theme-1-dark, $color-theme-2-dark);
  }

  &__image-container {
    position: absolute;
    left: 0;
    bottom: 17%;
    width: 25%;

    @include respond(phone) {
      bottom: 11.5%;
    }
  }

  &__myimage {
    width: 100%;
    height: auto;
  }

  &__dialogue-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 98%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba($color-black, 0.75);
    color: $color-white;
    bottom: 2%;
    border-radius: 0.5rem;
    min-height: 120px;
    outline: 2px solid #FACF31;
    padding: 1rem 3rem;

    @include respond(phone) {
      padding: 0.25rem 1rem;
      min-height: 40px;
    }
  }

  &__dialogue-text {
    display: block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-family: 'Press Start 2P', sans-serif;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    pointer-events: none;
    @include typed (("FULL STACK DEVELOPER CURRENTLY BASED IN TUNISIA. ":(),
        "Hi ! I'm Chamsedin Azouz, I specialize in the MERN stack, crafting, captivating front-end interfaces and ensuring a robust and efficient backend experience for users.":()),
      [.05, 4, .02],
      (caret-width: 2px,
        caret-space: 2px));

    @include respond(phone) {
      font-size: 0.5rem;
    }
  }
}