.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; 
}

.modal {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color:rgb(33, 33, 33);
    width: 80vw;
    height: fit-content;
    z-index: 99999;
    border-radius: 5rem;


    &__content {
        // border: 1px solid red;
        display: flex;
    }

    &__main {
        // border: 1px solid blue;
        display: flex;
        align-items: flex-start;
        width: 100%;
    }

    &__input {
        padding: 2rem 2rem;
        width: 100%;
        // border: 1px solid green;
    }

    &__info {
        padding: 2rem 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 50%;
        height: 100%;
        // border: 1px solid yellow;
    }

    &__image {
        display: inline-block;
        width: 2.5rem;
        margin-right: 1rem;
        height: auto;
        overflow: hidden;
    }
}

