.svg {
    width: 100%;
    height: auto;
    @include respond(phone) {
        height: 10rem;
    }
}

.svg-social {
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.7);
    stroke: transparent;
    -webkit-transition: all 0.2s cubic-bezier(.76, .26, .76, .26);
    -o-transition: all 0.2s cubic-bezier(.76, .26, .76, .26);
    transition: all 0.2s cubic-bezier(.76, .26, .76, .26);

    &:hover {
        -webkit-filter: drop-shadow(0 0 4px $color-primary);
                filter: drop-shadow(0 0 4px $color-primary);
        fill: $color-primary;
        scale: 1.1
    }
}

.svg-email {
    cursor: pointer;
    fill: rgba(255, 255, 255, 0.7);
    stroke: transparent;
    -webkit-transition: all 0.2s cubic-bezier(.76, .26, .76, .26);
    -o-transition: all 0.2s cubic-bezier(.76, .26, .76, .26);
    transition: all 0.2s cubic-bezier(.76, .26, .76, .26);
}