@import 'typed';

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url(./../../../public/images/slow.gif);
  background-size: cover;
}

#video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(0);
}

.giphy-embed {
  //pointer-events: none;
  transform: rotate(-10deg);
  width: 150%;
}

.about {
  position: relative;
  padding: 7.5rem 10rem;
  border-radius: 50px;
  overflow: hidden;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 5px solid $color-primary;
  box-shadow:
    inset 0 0 10px $color-primary,
    0 0 10px $color-primary;

}

.container {
  position: relative;
}

.second-box {
  position: relative;
  padding: 0.5rem 0.5rem;
  border: 4px solid $color-secondary;
  border-radius: 60px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow:
    inset 0 0 10px $color-secondary,
    0 0 10px $color-secondary;
}

.first-box {
  clip-path: polygon(22% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 10%, 22% 10%);
  padding: 0.5rem 0.5rem;
}


.first-box__gif {
  width: 70px;
  filter: drop-shadow(0 0 10px $color-secondary);
  z-index: 99999999999999999999;
}

.transparent-text {
  color: transparent;
  text-shadow: none;
}

.outlined-text {
  font-size: 9rem;
  fill: transparent;
  stroke-width: 2px;
  font-family: 'Audiowide', sans-serif;

  &__full {
    stroke: $color-secondary;
    text-shadow: 0 0 5px $color-secondary, 0 0 10px $color-secondary;
    transform: translate(50px, 120px);


  }

  &__dev {
    stroke: $color-primary;
    text-shadow: 0 0 5px $color-primary, 0 0 10px $color-primary;
    transform: translate(250px, 80px);
  }
}

.animation-flash {
  animation: lightningFlash 3s alternate infinite;
}

.animation-flash-o {
  animation: lightningFlash-o 3s linear infinite;
}



//section levels 

.level-1 {
  background-image: url(./../../../public/images/level-1.gif);
  background-size: cover;
  width: 80%;
  height: 60rem;
  padding: 5rem 5rem;
  pointer-events: none;
  box-shadow: 0 0 5px rgba($color-black, 0.75), 0 0 10px rgba($color-black, 0.75);

  border: 2rem solid;
  border-image: linear-gradient(to top, $color-theme-1-dark, $color-theme-2-dark);
  border-image-slice: 1;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__image-container {
    position: absolute;
    left: 0;
    bottom: 17%;
    width: 25%;
  }

  &__myimage {
    width: 100%;
    height: auto;
  }

  &__dialogue-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin: auto;
    background-color: rgba($color-black, 0.75);
    color: $color-white;
    bottom: 0;
    border-radius: 0.5rem;
    min-height: 120px;
    outline: 2px solid #FACF31;
    padding: 1rem 3rem;
  }

  &__dialogue-text {
    display: block;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    pointer-events: none;
    @include typed (("FULL STACK DEVELOPER CURRENTLY BASED IN TUNISIA. ":(),
        "Hi ! I'm Chamsedin Azouz, I specialize in the MERN stack, crafting, captivating front-end interfaces and ensuring a robust and efficient backend experience for users.":()),
      [.05, 4, .02],
      (caret-width: 2px,
        caret-space: 2px));
  }
}

.svg-social {
  cursor: pointer;
  fill: rgba(255,255,255, 0.7);
  stroke: transparent;
  transition: all 0.2s cubic-bezier(.76,.26,.76,.26);
  &:hover {
    filter: drop-shadow(0 0 4px $color-primary);
    fill: $color-primary;
    scale: 1.1
  }
}

.svg-email {
  cursor: pointer;
  fill: rgba(255,255,255, 0.7);
  stroke: transparent;
  transition: all 0.2s cubic-bezier(.76,.26,.76,.26);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  margin-top: 4rem;
}

.technology-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  color: white;
  pointer-events: none;
}

.technology-text {
  margin: 0;
  font-size: 1.2rem;
}