.video-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url(./../../../public/images/slow.gif);
  background-size: cover;
}

#video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(0);
}

.giphy-embed {
  //pointer-events: none;
  transform: rotate(-10deg);
  width: 150%;
}

.about {
  position: relative;
  padding: 7.5rem 10rem;
  border-radius: 50px;
  overflow: hidden;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 5px solid $color-primary;
  box-shadow:
    inset 0 0 10px $color-primary,
    0 0 10px $color-primary;

}

.container {
  position: relative;
}

.second-box {
  position: relative;
  padding: 0.5rem 0.5rem;
  border: 4px solid $color-secondary;
  border-radius: 60px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow:
    inset 0 0 10px $color-secondary,
    0 0 10px $color-secondary;
}

.first-box {
  clip-path: polygon(22% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 10%, 22% 10%);
  padding: 0.5rem 0.5rem;
}


.first-box__gif {
  width: 70px;
  filter: drop-shadow(0 0 10px $color-secondary);
  z-index: 99999999999999999999;
}

.transparent-text {
  color: transparent;
  text-shadow: none;
}

.outlined-text {
  font-size: 9rem;
  fill: transparent;
  stroke-width: 2px;
  font-family: 'Audiowide', sans-serif;

  &__full {
    stroke: $color-secondary;
    text-shadow: 0 0 5px $color-secondary, 0 0 10px $color-secondary;
    transform: translate(50px, 120px);
  }

  &__dev {
    stroke: $color-primary;
    text-shadow: 0 0 5px $color-primary, 0 0 10px $color-primary;
    transform: translate(250px, 80px);
  }
}