.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 4rem 10rem;
    z-index: 9999;
    background-color: transparent;
    box-shadow: none;
}

.header.sticky {
    padding: 2rem 10rem;
    background-color: $color-black;
    box-shadow: none;
}
