.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3.5rem 2rem;
    background-color: $color-black;

    @include respond(tab-land) {
    }
    @include respond(tab-port) {
    }
    @include respond(phone) {
        padding: 2.5rem 1rem;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        perspective: 150rem;
        -moz-perspective: 150rem;
        height: 13rem;
        width: 10rem;


        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(phone) {
            height: 7rem;
        }


        &:hover .social-media__face__front {
            transform: rotateY(-180deg);
        }
    
        &:hover .social-media__face__back {
            transform: rotateY(0);
        }
    }

    &__face {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__front {
            background-color: transparent;
        }

        &__back {
            transform: rotateY(180deg);
            cursor: pointer;
        }
    }


    &__image {
        width: 8.5rem;

        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(phone) {
            width: 4rem;

        }

    }

    &__external-image {
        width: 1.75rem;
    }

    &__footer {
        width: 3rem;
        box-shadow: 0 3rem 6rem rgba($color-black, .4);
        transition: all .3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}