.social-media {
    display: flex;
    justify-content: space-around;
    padding: 3.5rem 0;
    background-color: $color-black;
    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        cursor: pointer;
        text-decoration: none;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__image {
        width: 8.5rem;
        
    }
    &__footer {
        width: 3rem;
        box-shadow: 0 3rem 6rem rgba($color-black, .4);
        transition: all .3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}